@media all and (max-width: 640px){
    .home{
        flex-direction: column-reverse;
    }
    p{
        margin-bottom: 1em;
        padding-left: 1em;
        width: 75%;
        height: 50%;
    }
    p span{
        font-size: 0.4em;
        width: 100%;
    }
    .Img{
        width: 100%;
        height: 50%;
    }
    .Img img{
        width: 50%;
        height: 90%;
    }
}